@page
@model BDTransportCompany.Pages.Position.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Должности</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Positions.Position_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Positions.Position_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Positions.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Positions.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Positions.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Positions.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Positions.Responsibilities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Positions.Responsibilities)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Positions.Demands)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Positions.Demands)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Positions.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
