@page
@model BDTransportCompany.Pages.Position.IndexModel

@{
    ViewData["Title"] = "Таблица";
}

<h1>Таблица</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Positions[0].Position_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions[0].Responsibilities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions[0].Demands)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Positions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsibilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Demands)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
