@page
@model BDTransportCompany.Pages.TypesOfCar.IndexModel

@{
    ViewData["Title"] = "Таблица";
}

<h1>Таблица</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypesOfCars[0].TypeofCar_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypesOfCars[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypesOfCars[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TypesOfCars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeofCar_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
