@page
@model BDTransportCompany.Pages.CarsBrand.DetailsModel

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <h4>Марки автомобилей</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarsBrands.CarBrand_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarsBrands.CarBrand_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarsBrands.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarsBrands.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarsBrands.Specifications)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarsBrands.Specifications)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarsBrands.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarsBrands.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CarsBrands.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
