@page
@model BDTransportCompany.Pages.Car.IndexModel

@{
    ViewData["Title"] = "Таблица";
}

<h1>Таблица</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Car_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].CarBrandID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].TypeOfCarID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].BodyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].EngineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].YearOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].PositionID1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].LastMaintenanceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].PositionID2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrandID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfCarID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionID1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMaintenanceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionID2)
            </td>
            <td>
                @{
                    try
                    {
                        @Model.CarsBrands.First(r => r.ID == item.CarBrandID).Title
                    }
                    catch
                    {
                        <p> Данных нет </p>
                    }
                }
            </td>
            <td>
                @{
                    try
                    {
                        @Model.TypesOfCars.First(r => r.ID == item.TypeOfCarID).Name
                    }
                    catch
                    {
                        <p> Данных нет </p>
                    }
                }
            </td>
            <td>
                @{
                    try
                    {
                        @Model.Staff.First(r => r.ID == item.PositionID1).FullName
                    }
                    catch
                    {
                        <p> Данных нет </p>
                    }
                }
            </td>
            <td>
                @{
                    try
                    {
                        @Model.Staff.First(r => r.ID == item.PositionID2).FullName
                    }
                    catch
                    {
                        <p> Данных нет </p>
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
